{% extends "base_generic.html" %} 

{% block content %}

<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container" style="padding-top:100px; padding-bottom:150px;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading"><span style="color:#03A9F4;opacity:0.9;">In</span>Cite</h1>
          <p class="intro-text">A query, visualization and recommendation system for scientific publications.</p>
          {# <h6 style="margin-top:40px;">Current Database Records</h6> #}
          {# <p> #}
            {# Articles: {{ num_articles }} &NonBreakingSpace; | &NonBreakingSpace; Authors: {{ num_authors }} &NonBreakingSpace; | &NonBreakingSpace; Institutes: {{ num_institutes}} #}
            {# &NonBreakingSpace; | &NonBreakingSpace; Citations: {{ num_citations }} #}
          {# </p> #}
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}
