{% extends "base_generic.html" %}

{% block content %}
<style>
    .iclabel {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      margin-bottom: 10px;
    }
    .ichelptext {
      color: gray;
      font-weight: 300;
      margin-top: 10px;
    }
    .icerror {
      color:indianred;
      margin-top: 10px;
    }
</style>
 
<div class="container" style="padding-top:10px;">
<h3>Article Search</h3>
<br>
<form action ="" method = "post">
    {% csrf_token %}
    <div class="form-group">
        <div class="iclabel">Article Title</div>
        {{ form.search_title }}
        <div class="ichelptext">Search by article title (term, keyword or phrase).</div>
    </div>
    <div class="form-group">
        <div class="iclabel">Author First Name</div>
        {{ form.search_author_first_name }}
        <div class="ichelptext">Provide the first name of the author you want to search.</div>
    </div>
    <div class="form-group">
        <div class="iclabel">Author Last Name</div>
        {{ form.search_author_last_name }}
        <div class="ichelptext">Provide the last name for a more specific search.</div>
    </div>
    <br>
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
{% endblock %}


<!--

<form action ="" method = "post">
    {% csrf_token %}
    <table border="2">
        {{ form }}
    </table>
    <br/>
    <input type="submit" value="Search" class="btn btn-primary" />
</form>

-->